nav .custom-img {
    width:100%;
}    
.nav-link {
    color: black !important ;
}
#submit {
    background-color: rgba(171, 171, 172, 0.8);
}
.product {
    text-align: center;
    border: black 3px solid;
    margin-top: 5%;
    margin-bottom: 5%;
}
#player {
    padding-top: 5%;
    padding-bottom: 5%;
}
#tenor .btn {
    background-color: olive;
    border:black 3px solid;
    margin-bottom: 3%;
}
@media screen and (max-width: 700px) {
    body {
      background-color: olive;
    }
    .bg-light {
        background-color: olive !important;
      }
}


